<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{ folder }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">{{ folder }}</ion-title>
		</ion-toolbar>
	</ion-header>
	<div id="container">
		<ng-template [ngIf]="!sended">
			<ion-item-group>
				<ion-item-divider>
					<ion-label>
						I. DATOS DEL DENUNCIANTE
					</ion-label>
				</ion-item-divider>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">1. Denuncia anonima? <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-select placeholder="Seleccione" [(ngModel)]="o.anonimo" [ngStyle]="{marginTop:'10px'}">
						<ion-select-option value="0">NO</ion-select-option>
						<ion-select-option value="1">SI</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">2. Motivo de la denuncia <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-radio-group [(ngModel)]="o.motivo_id"
						[ngStyle]="{width: '-webkit-fill-available', marginTop: '12px'}">
						<div *ngFor="let item of types">
							<ion-item>
								<ion-radio [value]="item.id" [ngStyle]="{marginRight: '15px'}"></ion-radio>
								<ion-label
									[ngStyle]="{whiteSpace: 'unset', fontWeight: 'bold',fontSize: '14px'}">{{item.titulo}}
									<br> <span
										[ngStyle]="{fontSize: '12px', fontWeight: 'unset', color: '#626567'}">{{item.descripcion}}</span>
								</ion-label>

							</ion-item>
						</div>
					</ion-radio-group>
				</ion-item>
				<ng-template [ngIf]="o.anonimo==='0'">
					<ion-item>
						<ion-label position="stacked" class="title-opcion">3. Tipo de Persona</ion-label>
						<ion-select placeholder="Seleccione" [(ngModel)]="o.tipopersona" [ngStyle]="{marginTop:'10px'}">
							<ion-select-option value="DNI">NATURAL</ion-select-option>
							<ion-select-option value="RUC">JURIDICA</ion-select-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" class="title-opcion">4. Tipo de Documento</ion-label>
						<ion-select placeholder="Seleccione" [(ngModel)]="o.tipodocumento"
							[ngStyle]="{marginTop:'10px'}">
							<ion-select-option value="DNI">DNI</ion-select-option>
							<ion-select-option value="RUC">RUC</ion-select-option>
							<ion-select-option value="CARNET DE EXTRANJERIA">CARNET DE EXTRANJERIA</ion-select-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" class="title-opcion">5. Número de Documento</ion-label>
						<ion-input [(ngModel)]="o.nrodocumento"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" class="title-opcion">6. Apellidos y Nombres y/o Razón
							Social</ion-label>
						<ion-input [(ngModel)]="o.apenombres"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" class="title-opcion">7. Representante Legal</ion-label>
						<ion-input [(ngModel)]="o.representante"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" class="title-opcion">8. Domicilio Real o Procesal</ion-label>
						<ion-input [(ngModel)]="o.domicilio"></ion-input>
					</ion-item>
				</ng-template>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">9. Teléfono <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-input [(ngModel)]="o.telefono"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">10. Correo Electrónico <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-input [(ngModel)]="o.email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">11. Es Servidor/a del(a) Gobierno Regional de
						Ancash? <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-select placeholder="Seleccione" [(ngModel)]="o.funcionario" [ngStyle]="{marginTop:'10px'}">
						<ion-select-option value="0">NO</ion-select-option>
						<ion-select-option value="1">SI</ion-select-option>
					</ion-select>
				</ion-item>
				<ng-template [ngIf]="o.funcionario==='1'">
					<ion-item>
						<ion-label position="stacked" class="title-opcion">12. Órgano y/o Área en que labora</ion-label>
						<ion-input [(ngModel)]="o.organo"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="stacked" class="title-opcion">13. Cargo que desempeña</ion-label>
						<ion-input [(ngModel)]="o.cargo"></ion-input>
					</ion-item>
				</ng-template>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">14. Vínculo con el/los denunciado/s <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-textarea maxlength="500" [autoGrow]="true" [(ngModel)]="o.vinculo"></ion-textarea>
				</ion-item>
			</ion-item-group>
			<ion-item-group>
				<ion-item-divider>
					<ion-label>
						II. DATOS DEL DENUNCIADO/A
					</ion-label>
				</ion-item-divider>

				<ion-item>
					<ion-label position="stacked" class="title-opcion">15. Seleccione la Oficina<span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-select placeholder="Seleccione" [(ngModel)]="o.oficina" (ionChange)="changeOficina()"
						[ngStyle]="{marginTop:'10px', whiteSpace: 'unset'}">
						<ion-select-option *ngFor="let item of oficinas"
							[value]="item.id">{{item.name}}</ion-select-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label position="stacked" class="title-opcion">16. Seleccione Personal a Denunciar<span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-select placeholder="Seleccione" [(ngModel)]="o.personal"
						[ngStyle]="{marginTop:'10px', whiteSpace: 'unset'}">
						<ion-select-option *ngFor="let item of personals" [value]="item.id">{{item.apenombres}} --
							{{item.cargo}}</ion-select-option>
					</ion-select>
				</ion-item>

				<!-- <ion-item>
					<ion-label position="stacked" class="title-opcion">15. Especificar los Nombres y
						Apellidos <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-input [(ngModel)]="o.apenombresdenunciado"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">16. Especificar Cargo que desempeña <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-input [(ngModel)]="o.cargodenunciado"></ion-input>
				</ion-item> -->

			</ion-item-group>
			<ion-item-group>
				<ion-item-divider>
					<ion-label>
						III. DESCRIPCIÓN DE LOS HECHOS DENUNCIADOS
					</ion-label>
				</ion-item-divider>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">17. (En este Ítem el recurrente deberá consignar
						los actos materia de denuncia, estos deben ser expuestos en forma detallada y coherente,
						incluyendo la identificación de los
						autores de los hechos denunciados de conocerte) <span
							[ngStyle]="{color:'red', fontWeight: 'bold', fontSize: '22px'}">*</span></ion-label>
					<ion-textarea [(ngModel)]="o.deschechos" maxlength="1000" [autoGrow]="true"></ion-textarea>
				</ion-item>
			</ion-item-group>
			<ion-item-group>
				<ion-item-divider>
					<ion-label>
						IV. DOCUMENTACIÓN PROBATORIA
					</ion-label>
				</ion-item-divider>
				<ion-label position="stacked" [ngStyle]="{margin: '10px',fontSize: '18px'}">La denuncia podrá
					acompañarse de
					documentación original o copia que le de sustento.</ion-label>
				<ion-item>
					<ion-label position="stacked" class="title-opcion">18. Documentación Probatoria
						Peso máximo: 10 MB en total, solo se aceptan formatos rar, zip, mp3, wma, mp4, wmv,
						pdf, doc, docx, txt, xls, xlsx, xlsm, csv, jpg, jpeg, png, tif y bmp.</ion-label>

					<div *ngIf="o.fileName" [ngStyle]="{marginTop: '12px',fontSize: '12px'}">Archivo: {{o.fileName}}
					</div>

					<div class="uploader" appDnd (fileDropped)="onFileDropped($event)">
						<input type="file" #fileDropRef id="fileDropRef" multiple
							(change)="fileBrowseHandler($event)" />
						<img src="assets/img/dnd/ic-upload-file.svg" alt="">
						<h3>Arrastra y suelta el archivo aquí</h3>
						<h3>or</h3>
						<label for="fileDropRef">Buscar archivo</label>
					</div>
				</ion-item>
			</ion-item-group>
			<ion-item>
				<ion-checkbox slot="start" [(ngModel)]="o.aceptado"></ion-checkbox>
				<ion-label>Declaro bajo juramento que los datos ingresados en este formulario son verdaderos y
					están sujetos a lo establecido en los articulos 51 y 67 del TUO de la Ley N° 27444</ion-label>
			</ion-item>
			<ion-item>
				<ion-button [disabled]="!o.aceptado" fill="solid" (click)="send()">
					<ion-icon slot="end" name="send"></ion-icon>
					Enviar
				</ion-button>
			</ion-item>
		</ng-template>

		<ng-template [ngIf]="sended">

			<ion-card>
				<ion-card-header>
					<ion-card-title>Denuncia Registrada Exitosamente!</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					{{o.code}}
					<br><br>
					Gobierno Regional de Ancash - Trasparencia.
				</ion-card-content>
			</ion-card>
			<ion-item>
				<ion-button [disabled]="!o.aceptado" fill="solid" (click)="sended=false">
					<ion-icon slot="start" name="pencil"></ion-icon>
					Registrar una nueva denuncia.
				</ion-button>
			</ion-item>
		</ng-template>
	</div>
</ion-content>